body {	font-family: 'Open Sans', sans-serif;
	padding-left: 5%;
	padding-right: 15%;
	background-color: #202e39;
	color: white;
	}	


nav {	background-color: #9e9e9e;
	border-radius: 20px;
	width: 100%;
	top: 0;
}

nav img {	float: left;
		padding-right: 20px;}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}	

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px
}

nav li a:hover {
  background-color: #555;
  color: white;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #555;
				border-radius: 20px}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 20px
}


a {color: white
	}



.mySlides {
	width: 750px;}

details{
	background-color: #364a5a;
	margin:10px; 0px;}

summary{
	
	background-color: royalblue;}

summary:hover{
	cursor: pointer;
	background-color: #2f4ca1;}

table {
	font-size: 18px;
	background-color: #2c3d4b;
	}
	


th {	text-align: left;
	background-color: royalblue;
	padding: 10px 10px;
	box-shadow: 0 3px 6px #000000030}
td {	padding: 5px 5px; 
	}

.sortedtablehead :hover{
		cursor: pointer;
		background-color: #2f4ca1
}

tr:nth-child(even){
	background-color: #364a5a;}

tr:hover{background-color: #1b2731;}


.GridContainer {
  	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr 1fr ;
	}

.Griditem{
	background-color:royalblue;
	margin:10px;
	border-radius:20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: left;
	padding: 10px}

button {
	height:35px;
	width:200px;
	border-radius:20px;
	background-color:white;
	border-style: none;
	font-size:15px;
	margin-right: 20px;
	
}

button:hover{
	cursor: pointer;
	background-color: royalblue
}

input {	height:25px;
	border-radius:20px;
	border-style: none;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	font-size:15px;
}

#Probenrechner {
	border-radius:20px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	font-size:15px;
	background-color: royalblue;
	
	}

.MPHead {
	width:100px;
	border-radius:0px
	}

.MWEingabeLabel {
	width:60px;
	}

.MWEingabe{
	width:55px;
	font-size:12px;
	border-radius:0px}

.ErgLabel {
	
	font-size:11px;
	}

.StammdatenContainer {
	width:100%;
	display: grid;
    	align-items: center;
	// height: 350px;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr  ;
	}


.MainOptionsLabel {
	
	
	}
.StammdatenDropdown{
	margin:5px;
	height:30px}

.Stammdatgeninput {
	border-radius:0px;
	margin:5px;
	}

#Bericht {	background-color:white;
		
		border-radius:20px; 
		padding:10px;
		margin:10px}

.BerichtTabelle {
	color:white}

.DruckDropdown {
	height:35px;
	width:200px;
	border-radius:20px;
	background-color:white;
	border-style: none;
	font-size:15px;
	text-align:right}

#StammdatenHeadline{
	display: none;
		}

